//----------------------------------General Styles----------------------------------//

// General
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html {
  //background-color:$theme-color-beige;
  text-rendering:optimizeLegibility;//geometricPrecision
  font-smooth:always;
  -webkit-font-smoothing:subpixel-antialiased;//antialiased
  -moz-osx-font-smoothing:grayscale;
}
body {
  min-height:100vh;
  font-family:$font-light;
  font-size:15px;//17px
  background-color:$theme-color-beige;
  color:$theme-color-grey-dark;
  line-height:1.8;
  letter-spacing:0.5px;
  .text-italic {
    font-family:$font-light-italic!important;
  }
}

// Fonts
h1, h2, h3, h4, h5, h6, .font-headline {
  letter-spacing:0;
}
h1, h2, h3, h4, h5, h6 {
  font-family:$font-headline;
}
.font-headline {
  font-family:$font-headline!important;
}
.font-regular {
  font-family:$font-regular!important;
  &.text-italic {
    font-family:$font-regular-italic!important;
  }
}
.font-light {
  font-family:$font-light!important;
  &.text-italic {
    font-family:$font-light-italic!important;
  }
}
.font-ultra-light {
  font-family:$font-ultra-light!important;
  &.text-italic {
    font-family:$font-ultra-light-italic!important;
  }
}

// Headline, Title, Subtitle
.headline {
  font-size:2.85rem;
  line-height:1.02;
}
@media only screen and (max-width:576px) {//Down
  .headline {
    font-size:2.5rem;
  }
}
@media only screen and (max-width:400px) {//Down
  .headline {
    font-size:1.6rem;
  }
}

// Buttons
button, a.button {
  cursor:pointer;
  //line-height:30px;
}

// Selection Styles
::selection {//webkit, opera, IE9
  background-color:rgba(105,169,179,0.7);//Or rgba(37,175,206,0.7) Terminal's
}
::-moz-selection {//mozilla firefox
  background-color:rgba(105,169,179,0.7);//Or rgba(37,175,206,0.7) Terminal's
}

//----------------------------------Form Styles----------------------------------//

// Input Placeholders
::-webkit-input-placeholder {
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
:-moz-placeholder {//Firefox 18-
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
::-moz-placeholder {//Firefox 19+
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
:-ms-input-placeholder {
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}

// Forms
form {
  select {
    // -webkit-appearance:none;
    // -moz-appearance:none;
    // appearance:none;
    > option {
    }
  }
}

//----------------------------------Section Styles----------------------------------//

// Nav
nav {
}

// Header
header {
}

// Main
main.main {
  //min-height:100vh;


  // To errase/revise
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
  padding: 4rem 0;
  


}

// Form Section
section.form-section {
}

// Todo List Section
section.todo-list-section {
}

// Footer
footer.footer {



  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  span.logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  // a {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-grow: 1;
  // }



}











  div.todos-container {
    ul.todos-ul {
      // width:100%;
      //padding-left:0;
      //list-style-type:none;
      div.todo {
        display:flex;//Missing Prefixes
        flex-direction:row;//Missing Prefixes
        //justify-content:space-between;//Missing Prefixes
        align-items:stretch;//center//Missing Prefixes





        margin:0.4rem 0;
        font-size:1.5rem;
        @include transition(all ease-in-out 0.5s);
        // &.completed {
        //   text-decoration:line-through;
        //   @include filter(opacity(0.5));
        // }
        &.fall {
          @include filter(opacity(0));
          @include transform(translateY(8rem) rotateZ(20deg));
        }
        li.todo-item {
          display:flex;//Missing Prefixes
          flex-direction:row;//Missing Prefixes
          align-items:center;//Missing Prefixes
          flex:1;//Pushes Buttons To The Right
          height:65.5px;
          padding:0 1rem;
          background-color:#FFF;
          color:$theme-color-aqua;
          text-align:left;
          @include transition(all ease-in-out 0.5s);






          &.completed {
            text-decoration:line-through;
            @include filter(opacity(0.5));
          }
        }
        button.btn-complete, button.btn-delete {
          width:11%;
          //min-width:3rem;//
          padding:0.7rem;
          background-color:orange;
          border:none;
          > i.fas {
            font-size:1.2rem;
            color:$theme-color-aqua;
            pointer-events:none;
            //@include transform(translateY(-2px));
          }
        }
        button.btn-complete {
          background-color:$theme-color-aqua;
          > i.fas {
            color:#FFF;
          }
        }
      }
    }
  }














