//----------------------------------Utility Classes----------------------------------//

.position-relative {
  position:relative;
}
.position-absolute {
  position:absolute;
}
.position-fixed {
  position:fixed;
}
.display-block {
  display:block;
}
.display-inline-block {
  display:inline-block;
}
.text-lighter {
  font-weight:lighter;
}
.text-100 {
  font-weight:100;
}
.text-200 {
  font-weight:200;
}
.text-300 {
  font-weight:300;
}
.text-400 {
  font-weight:400;
}
.text-500 {
  font-weight:500;
}
.text-600 {
  font-weight:600;
}
.text-700 {
  font-weight:700;
}
.text-bold {
  font-weight:bold;
}
.text-transform-none {
  text-transform:none;
}
.text-underline {
  text-decoration:underline;
}
.text-uppercase {
  text-transform:uppercase;
}
.text-lowercase {
  text-transform:lowercase;
}
.text-capitalize {
  text-transform:capitalize;
}